extends layout

block content
  .container
    .jumbotron
      .container
        h1 Henk
        p Lorizzle I'm the nizzle
        a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;

    .container
      .row
        .col-md-4
          h2 About us
          p JJaaahhh
          a.btn.btn-default(href="#") View details

        .col-md-4
          h2 Services
          p JJaaahhh
          a.btn.btn-default(href="#") View details

        .col-md-4
          h2 Get in touch
          p JJaaahhh
          a.btn.btn-default(href="#") View details
